server {
    auth_http localhost:8080/auth_smtp_imap;
    proxy on;
    listen 143;
    protocol imap;
    starttls only;

    server_name ${IMAP_BANNER_NAME};
}

server {
    auth_http localhost:8080/auth_smtp_imap;
    proxy on;
    listen 993 ssl;
    protocol imap;

    server_name ${IMAP_BANNER_NAME};
}