server {
    auth_http localhost:8080/auth_smtp_imap;
    proxy on;
    listen 25;
    protocol smtp;
    starttls only;
    proxy_smtp_auth on;

    xclient on;
    server_name ${SMTP_BANNER_NAME};
}

server {
    auth_http localhost:8080/auth_smtp_imap;
    proxy on;
    listen 465 ssl;
    protocol smtp;
    proxy_smtp_auth on;

    xclient on;
    server_name ${SMTP_BANNER_NAME};
}
