server {
    auth_http localhost:8080/auth_submission;
    proxy on;
    listen 587;
    protocol smtp;
    starttls only;
    proxy_smtp_auth on;

    xclient on;
    server_name ${SMTP_BANNER_NAME};
}